<!--
  This example requires Tailwind CSS v2.0+ 
  
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<div class="bg-white">
  <div class="max-w-7xl  py-10 px-4  sm:px-6 lg:px-8  ">
    <div class="max-w-4xl">
      <h2 class="text-xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl">About our name</h2>
      <p class="mt-5 text-xl text-gray-500">The name Humble Daisy comes from the name of a song from one of our favorite bands, XTC. XTC has been with us since the late 1970's and has aged and mellowed well. They are intelligent, witty, philosophical and honorable. As a band they possess the simple elegance that humble daisy aspires to. Here are the lyrics to the original song by XTC.</p>
    </div>
    


<div class="grid grid-col ">


    <song class="ml-10 my-4">
    <h2 class="text-lg mt-4">
    Humble Daisy - Andy Partridge, XTC</h2>
    <p  class="prose grid grid-cols-1  ">
      Humble Daisy
      <lyric>
      Form a chain to hold all battleships in check
      </lyric>
      <lyric>
      Humble Daisy
      </lyric>
      <lyric>
      Knit a ladder down to nature's sunken wreck
      </lyric>
      <lyric>
      Ragged rug unbound
      </lyric>
      <lyric>
      Tangle trip the lovers
      </lyric>
      <lyric>
      Royal barge aground
      </lyric>
      <lyric>
      Brighter than all of the others on the window sill
      </lyric>
      <lyric>
      I'll sing about you if nobody else will
      </lyric>
      <lyric>
      Humble Daisy
      </lyric>
      <lyric>
      Cast the milk and coins of morning's cash about
      </lyric>
      <lyric>
      Humble Daisy
      </lyric>
      <lyric>
      I fell down to heaven as you picked me out
      </lyric>
      <lyric>
      We'll look up together
      </lyric>
      <lyric>
      Browsing through some old sky
      </lyric>
      <lyric>
      Sipping in the weather
      </lyric>
      <lyric>
      You've got me dizzy, the fly that climbed the sugar hill
      </lyric>
      <lyric>
      I'll lay upon you 'till somebody else will
      </lyric>
      <lyric>
      Humble Daisy
      </lyric>
      <lyric>
      We'll look up together
      </lyric>
      </p>
    </song >
      <hr />
  
  <div class="grid grid-cols-1 gap-4 mt-2">
    <p  class="prose">
      When asked about the song "Humble Daisy" Andy Partridge responded; `A paean to the person and the weed. There's a wonderful field where I walk my dog and overnight these big daisies came up. So the song's in praise of that glorious weed. As for some of the words, I have no idea what they mean - but they're pictorially gorgeous.' This is from the writer of the song...
  </p>
    <p  class="prose">
      I like the phrase "in praise of that glorious weed", especially for a small business. The lyrics to me are compelling. A tribute to a beautiful weed with the last line that says "We'll look up together..." I couldn't think of a better name for a company! David
  </p>
    <p  class="prose">
      DAISY: The word Daisy comes from the Old English 'day's eye'. This implied that the flower opened in the morning and closed at night.
  </p>
    <p  class="prose">
      The Daisy family or Compositae family is thought to be the largest genus with over 1200 species. It includes lots of popular garden plants like Chrysanthemums, Dahlias, Sunflowers, Asters and Calendulas (Marigolds).

    <p  class="prose">
      <a name="Paean"></a>pae&middot;an also pe&middot;an n.
      <lyric>
      <ol>
      </lyric>
        <li>
          A song of joyful praise or exultation.
          </li>
        <li>
          A fervent expression of joy or praise: "The art... was a paean to paganism" (Will Durant).
          </li>
        <li>
          An ancient Greek hymn of thanksgiving or invocation, especially to Apollo.
          </li>
          </ol>
    </p>
    <hr />
    <p  class="prose">
      [Latin paen, hymn of thanksgiving, often addressed to Apollo, from Greek pain, from Pai, a title of Apollo.]
  </p>
  </div>
    <p  class="prose">
      To learn more about the name Humble Daisy, visit our
      <%= link_to('About Us', about_path) %>
      page.
      </p>
    </div>
  </div>
</div>
