<div class="container mx-auto mt-8">
  <h1 class="mb-4"><%= t(".title") %></h1>

<div class="prose">
<%= markdown(File.read(Rails.root.join("app/views/static/_humble_daisy_privacy_policy.md")))%>
</div>
</div>
